@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
    background-color: black;
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    cursor:"C:\\Users\\KIIT\\Desktop\\Projects\\ResumeUpdate\\src\\assets\\images\\cursor.png";
}

.content_loaded {
    
    flex-direction: column;
}

.d {
    font-size: 10px;
}

.a {
    font-size: 10px;
}

.social_links {
    width: 300px;
    height: 30px;
    position: fixed;
    bottom: 5vh;
    left: 0vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);      
}

.social_resume {
    background-color: white;
    margin: 0;
    padding: 2px 10px;
    border: 1px solid white;
    font-family: 'Anton';
    border-radius: 20px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
}

.social_resume:active {
    transform: scale(0.9);
}

.scrolled-down {
    height: 0 !important;
    overflow: hidden;
}

.navbar {
    position: fixed;
    backdrop-filter: blur(5px);
    width: 50vw;
    padding: 0px 25vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    transition: height 0.1s ease; /* Add a transition effect */

}

.nav_link {
    text-decoration: none;
    color: #B6FFFA;
    font-family: "Anton";
    font-size: 20px;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px red;
}

.nav_link:hover {
    transform: scale(1.1);
}

.content {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content_text {
    width: 10vw;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    font-family: 'Anton';
    color: #fffc00;
    letter-spacing: 5px;
    font-size: 50px;
}

.glitch {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    15% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    100% {
      text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
        -0.04em -0.025em 0 #fffc00;
    }
  }
  
.content_name_bold {
    width: 90vw;
    max-height: 100vh;
    color: #00fffc;
    font-size: 27vw;
    font-family: 'Anton';
    letter-spacing: 10px;
    text-align: center;
}

.content_name {
    font-size: 50px;
    letter-spacing: 10px;
}

.about {
    height: fit-content;
    min-height: 90vh;
    display: flex;
    width: 90vw;
    margin: 0 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Anton';
}

.about_small {
    font-size: 20px;
    font-family: 'Open Sans';
    letter-spacing: 2px;
    margin: 0 20px;
    min-height: 10vh;
    height: fit-content;
    display: flex;
    align-items: center;
    width: 25vw;
    justify-content: center;
}

.about_large {
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0 20px;
    width: 35vw;
    text-align: center;
    height:fit-content;
}

.about_sentence {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 5vh 0;
}

.experience {
    background-color: black;
    height: fit-content;
    min-height: 90vh;
}

.experience_heading {
    margin-top: 10vh;
    font-family: 'Anton';
    color: white;
    padding-top: 10px;
    font-size: 30px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1vw;
    -webkit-text-stroke: 1px red;
}

.experience_heading_sub {
    font-family: 'Anton';
    color: white;
    padding-top: 10px;
    font-size: 15px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1vw;
    -webkit-text-stroke: 1px red;
}

.experience_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.experience_content {
    width: 100vw;
    margin: 5vh 0vw;
    height: fit-content;
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: space-around;
}

.experience_card_img {
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat; 
    border-bottom: 1px solid rgb(77, 75, 75);
    border-radius: 20px;
    background-position: center;
}

.experience_card_postion {
    font-size: 13px;
    color: white;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.b {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.experience_card {
    border-radius: 20px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.projects_img {
    height: 30vh;
}

.projects_card {
    height: 70vh;
}

.experience_card_content {
    color: white;
    width: 100%;
    height: 50vh;
}

.project_card_content {
    height: 30vh;
}

.view_btn {
    background-color: rgb(75, 75, 75, 0.9);
    margin: 0;
    border: 1px solid rgb(77, 75, 75);
    border-radius: 10px;
}

.pro_ul {
    margin: 2.5vh 0 !important;
    height: 25vh !important;
}

.exp_ul {
    margin: 2.5vh 0;
    height: 45vh;
}

.exp_ul_li {
    height: fit-content;
    min-height: 10vh;
    margin: 5px 0;
}

.projects {
    background-color: black;
    height: fit-content;
    min-height: 100vh;
}

.projects_heading {
    margin-top: 10vh;
    font-family: 'Anton';
    color: white;
    padding-top: 10px;
    font-size: 30px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1vw;
    -webkit-text-stroke: 1px red;
}

.projects_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects_content {
    width: 100vw;
    margin: 5vh 0vw;
    height: fit-content;
    display: flex;
    height: 50vh;
    align-items: center;
}

.projects_content_card {
    border: 1px solid rgb(77, 75, 75);
    border-radius: 20px;
    margin: 0 1vw;
    width: 31.33vw;
    min-width: 200px;
    height: 40vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: transform 0.3s;
}
.projects_content_card_overlay {
    background-color: rgb(0, 0, 0, 0.8);
    transition: margin-top 0.3s ease;
    margin-top: 40vh;
    height: 40vh;
    min-height: fit-content;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    width: 80%;
    padding: 0 10%;
    font-family: 'Anton';
    font-size: 18px;
    text-align: center;
}


.projects_content_card:hover {
    transform: scale(1.05);

    .projects_content_card_overlay {
        margin-top: 0vh;
    }
}

.projects_content_card_overlay_banner {    
    width: 90%;
    padding: 10px 5% 0 5%;
    border-radius: 20px 20px 0 0;
    border: 1px solid black;
    font-size: 15px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.experience {
    background-color: black;
    height: fit-content;
    min-height: 90vh;
}

.contact_heading {
    font-family: 'Anton';
    color: white;
    padding-top: 10px;
    font-size: 30px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1vw;
    -webkit-text-stroke: 1px red;
}

.contact_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_content {
    width: 100vw;
    margin: 5vh 0vw;
    height: fit-content;
    display: flex;
    min-height: 80vh;
    justify-content: center;
}

.contact_content_card {
    border-radius: 10px;
    margin: 0 1vw;
    width: 62.66vw;
    height: fit-content;
    min-height: 60vh;
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    justify-content: space-around;
    padding: 10px;
}

.contact_content_card_overlay {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_content_card_overlay_text {
    color: white;
    font-size: 20px;
    font-family: 'Anton';
    width: 20%;
    display: flex;
    align-items: center;
}

.contact_content_card_overlay_options {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    
}

.contact_content_card_overlay_options_card {
    margin: 10px 5px 10px 5px;
    padding: 5px;
    font-size: 15px;
    width: fit-content;
    min-width: 15%;
    border: 0;
    font-family: 'Anton';
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.contact_content_card_overlay_options_card.selected {
    background: linear-gradient(45deg, red, maroon);
}

.contact_content_card_overlay_options_card.not_selected:hover{
    background-color: maroon;
    transform: scale(1.1);
}

.contact_content_card_overlay_options_card.not_selected {
    border: 1px solid red;
    background-color: black;
}

.contact_content_card_overlay_options_card:active {
    transform: scale(0.9);
}

.contact_input {
    width: 100%;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact_input_op {
    padding: 0 10px;
    background-color: black;
    border: 1px solid red;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
    height: 50%;
    min-height: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0px;
    font-size: 12px;
}

.contact_input_op::placeholder {
    color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0px;
}

.submit_over {
    width: 100%;
    display: flex;
}

.success {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 20px;
}

.thank-you-message {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 10px;
}

.submit {
    margin: 10px;
    width: 200px;
    color: black;
    font-family: "Anton";
    letter-spacing: 1px;
    font-size: 20px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    transform: scale(1.1);
}

.submit:active {
    transform: scale(0.9);
}

@media only screen and (max-width: 800px) {
    .glitch {
        font-size: 2rem;
    }
    .content {
        flex-direction: column;
    }
    .experience_content {
        flex-direction: column;
    }
    .experience_card {
        width: 70%;
    }
    .content_text {
        padding-left: 0vw;
        width: fit-content;
        text-align: center;
    }
    .social_links {
        width: 100vw;
        left: 50%;
        transform: translate(-50%, -50%);      
    }
    .navbar {
        width: 100vw;
        padding: 0 ;
    }
    .nav_link {
        font-size: 15px;
    }
    .projects_heading {
        text-align: center;
    }
    .projects_content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .projects_content_card {
        min-height: 40vh;
        width: 80vw;
        margin: 20px 0;
    }
    .about_sentence {
        display: flex;
        flex-direction: column;
        text-align: center;
    }    
    .contact_content_card_overlay {
        text-align: center;
        flex-direction: column;
    }
    .contact_content_card_overlay_text {
        width: 100%;
    }
    .contact_content_card_overlay_options {
        width: 100%;
    }
    .contact_content_card_overlay_options_card {
        padding: 5px;
        font-size: 12px;
    }    
    .submit_over {
        justify-content: center;
    }
}
